@import url(https://fonts.googleapis.com/css?family=Lato);
.products {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pro-carousel {
  width: 300px;
  background-color: blue;
}

.homepage-body {
  background-color: #efefef;
  display: flex;
  justify-content: center;
}

.content {
  width: 75%;
}

.carousel-headings {
  font-weight: bold;
  font-family: 'Lato';
  font-size: 20px;
  padding-left: 25px;
}